.session {
    margin-bottom: 20px;
    left: 25%;
    right: 25%;
    background-color: #8da0cb;
}

.slider_row {
    height: 12px;
    width: 95%;
    margin: 5px;
}

h2#slider-label {
    display: inline-block;
    margin: 10px;
    font-size: 1.2em;
    color: #fff;
}

#sliderbar{
    position:absolute;
    bottom: 0%;
    right: 25%;
    left: 25%;
}